export(install_github)
importFrom(git2r, init, clone, config, commits)
importFrom(utils, install.packages, installed.packages, packageVersion, capture.output)
importFrom(tools, write_PACKAGES)
importFrom(methods, slot)
